.job-item {
  border: solid 1px #202020;
  list-style-type: none;
  border-radius: 11px;
  background-color: #202020;
  color: #cbd5e1;
  width: 90%;
  margin: 5px 3px;
}

/* Styling for Header section */
.job-header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  margin-bottom: 0;
}

.job-item-company-details-card {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 70%;
  padding: 2px 5px;
}

.job-item-logo {
  width: 48px;
  margin-right: 9px;
}
.job-item-title-ratings-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job-title {
  color: #f1f5f9;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0;
}
.job-item-ratings-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 34px;
  margin-top: -11px;
  margin-bottom: 0;
  color: #f1f5f9;
}
.rating-icon {
  color: #fbbf24;
}

/* Styling for package & employment section */
.job-item-salary-employment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.job-item-employment-details-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 70%; */
}
.employment-item {
  display: flex;
  align-items: center;
  margin-right: 9px;
}
.job-item-employment-icon {
  font-size: 11px;
  color: #f1f5f9;
  margin-right: 3px;
}
.job-item-employment-details-text {
  font-size: 11px;
  font-weight: 500;
}
.job-item-salary {
  font-size: 15px;
  font-weight: 600;
  color: #f1f5f9;
  margin-right: 0;
}

/* Styling Job Description section */
.job-item-footer-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 9px;
}
.job-item-footer-title {
  margin-top: 0;
  color: #f1f5f9;
}
.job-item-description {
  font-size: 9px;
  font-weight: 400;
  line-height: 1.5;
  color: #cbd5e1;
  margin-top: -11px;
}
